{% extends "base.html" %}

{% block content %}
<div style="display:flex">
    <form method="post" style="width: 400px">
        <h2>Фильтры</h2>
        <div style="height: 70px">
            <h6>Цена</h6>
            <div style="display: flex">
                <div>{{ form.min(value=0) }}</div>
                {{ form.max(value=0) }}
            </div>
        </div>
        <div class="container text-left">
            <div class="row">
                <div style="width: 30px" class="col-1">{{ form.fork }}</div>
                <div class="col-5">{{ form.fork.label }}</div>
            </div>
            <div class="row">
                <div class="col-1">{{ form.breakers }}</div>
                <div class="col-5">{{ form.breakers.label }}</div>
            </div>
            <div class="row">
                <div style="width: 30px" class="col-1">{{ form.wheels }}</div>
                <div class="col-5">{{ form.wheels.label }}</div>
            </div>
            <div class="row">
                <div style="width: 30px" class="col-1">{{ form.frame }}</div>
                <div class="col-5">{{ form.frame.label }}</div>
            </div>
            <div class="row">
                <div style="width: 30px" class="col-1">{{ form.saddle }}</div>
                <div class="col-5">{{ form.saddle.label }}</div>
            </div>
            <div class="row">
                <div style="width: 30px" class="col-1">{{ form.saddle_post }}</div>
                <div class="col-7">{{ form.saddle_post.label }}</div>
            </div>
            <div class="row">
                <div style="width: 30px" class="col-1">{{ form.grips }}</div>
                <div class="col-5">{{ form.grips.label }}</div>
            </div>
            <div class="row">
                <div style="width: 30px" class="col-1">{{ form.steering_colm }}</div>
                <div class="col-5">{{ form.steering_colm.label }}</div>
            </div>
            <div class="row">
                <div style="width: 30px" class="col-1">{{ form.transmission }}</div>
                <div class="col-5">{{ form.transmission.label }}</div>
            </div>
            <div class="row">
                <div style="width: 30px" class="col-1">{{ form.stem }}</div>
                <div class="col-5">{{ form.stem.label }}</div>
            </div>
            <div class="row">
                <div style="width: 30px" class="col-1">{{ form.bar }}</div>
                <div class="col-5">{{ form.bar.label }}</div>
            </div>
            <div class="row">
                <div style="width: 30px" class="col-1">{{ form.pedals }}</div>
                <div class="col-5">{{ form.pedals.label }}</div>
            </div>
        </div>
        <p title="Показать">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </form>
    <div class="table_container" style="position: relative; left: 100px">
        <h1>Каталог</h1>
        {% for products in prod %}
        <div style="display:flex" id="{{ products.id }}">
            <a title="{{ types[products.type] }} {{ products.name }}" href="/product/{{ products.id }}"
               style="text-decoration:none; color:black" tabindex="0" role="table">
                <div style="display: flex">
                    <div><img height="300" width="300" src="static/{{ products.picture }}"></div>
                    <div style="position: relative; left: 50px; width: 400px; font-size: 25px; flex-direction:column">
                        {{ types[products.type] }} {{ products.name }}<br>
                        <div style="position: relative; top: 10px; left: 10px; font-size: 20px">Оценка: {{
                            products.quality }}
                        </div>
                    </div>
                    <div style="position: relative; left: 50px; width: 250px; font-size: 30px">{{ products.price }} ₽
                    </div>
                </div>
            </a>
            {% if products.product_quantity != 0 %}
            <a style="height: 40px; position: relative; left: -50px; top: 5px" title="add to card"
               href="/addtocard/{{ products.id }}" class="btn btn-primary">В корзину</a>
            {% else %}
            <a style="height: 40px; position: relative; left: -50px; top: 5px; color: currentColor;
                        cursor: not-allowed; opacity: 0.5; text-decoration: none;" title="add to card"
               href="/addtocard/{{ products.id }}" class="btn btn-primary">В корзину</a>
            {% endif %}
            {% if current_user.id == 1 %}
            <a style="height: 40px; position: relative; left: -150px; top: 60px" title="del from catalog"
               href="/Delprod/{{ products.id }}" class="btn btn-danger">Удалить товар из каталога</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}